<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Membership Dues</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="payment.js"></script>
</head>
<body>

    <div class="container" ng-app="payment" ng-controller="DuesController">
        <div class="page-header">
            <h1>Schenectady Curling Club - Dues Payment</h1>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info">To pay your dues online, please fill out the
                form below.  If you are paying for several members, such as
                yourself and your spouse, fill out the form separately for each
                member.</div>
                <div class="alert alert-warning">NOTE: See the club's published
                information or talk to another member for details such as
                league eligibility</div>
            </div>
        </div>
        <form name="duesForm" novalidate class="form-horizontal">
            <div class="form-group">
                <label for="first_name" class="col-sm-2 control-label">Member's First Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="first_name"
                            ng-model="first_name" placeholder="First Name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="last_name" class="col-sm-2 control-label">Member's Last Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="last_name"
                            ng-model="last_name" placeholder="Last Name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Member's Email Address</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="email"
                            ng-model="email" placeholder="name@service.com">
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label for="membership_level"
                    class="col-sm-2 control-label">Membership Level</label>
                <div class="col-sm-10">
                    <select name="membership_level" ng-model="_level_name">
                        <option ng-repeat="lvl in dues.membership_levels" value="{{lvl.name}}">
                            {{lvl.name}} - ${{lvl.dues}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="member_years"
                    class="col-sm-2 control-label">Membership Years</label>
                <div class="col-sm-10">
                    <input name="member_years" type="radio" value="1"
                        ng-model="member_years" />
                        First Year member
                        &nbsp;
                    <input name="member_years" type="radio" value="2"
                        ng-model="member_years" />
                        Second Year member
                        &nbsp;
                    <input name="member_years" type="radio" value="3"
                        ng-model="member_years" />
                        Third Year or higher
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Leagues</label>
                <div class="col-sm-10">
                    <div class="row">
                        <div class="col-xs-5">
                            <span ng-if="league_fee_limit > 0" class="text-muted">
                                League fees capped at ${{league_fee_limit}}
                            </span>
                            <span ng-if="league_fee_limit == 0" class="text-muted">
                                League fees included in membership
                            </span>
                        </div>
                        <div class="col-xs-7">
                            <p>Add notes for the league chair here - skip, position, shift, etc.</p>
                        </div>
                    </div>
                    <div class="row" ng-repeat="lg in dues.leagues"
                         ng-class="{'text-muted': !level.allowed_tiers[lg.tier]}">
                         <div class="checkbox col-xs-5">
                            <label>
                                <input type="checkbox" ng-model="leagues[lg.name]"
                                    ng-disabled="!level.allowed_tiers[lg.tier]" />
                                {{lg.name}}
                                <span ng-if="lg.half">({{lg.half}} half)</span>
                                - <span class="text-muted">${{lg.cost}}</span>
                            </label>
                        </div>
                        <div class="col-xs-7">
                            <input type="text" class="form-control"
                                ng-model="league_notes[lg.name]"
                                ng-disabled="!leagues[lg.name]" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Associations
                    <div ng-if="level.includes_association_memberships" class="text-muted">
                        (included)
                    </div>
                </label>
                <div class="col-sm-10"
                     ng-class="{'text-muted': level.includes_association_memberships}">
                    <div class="checkbox" class="row"
                        ng-repeat="(assoc, fee) in dues.associations">
                        <label>
                            <input type="checkbox" ng-model="associations[assoc]"
                                   ng-disabled="level.includes_association_memberships" />
                            {{assoc}}
                            - <span class="text-muted">${{fee}}</span>
                        </label>
                    </div>
                </div>
            </div>
            <hr />
            <div class="form-group">
                <label class="col-sm-2 control-label">Dues</label>
                <div class="col-sm-6">
                    <ul>
                        <li ng-repeat="item in cart">
                            {{item.name}}
                            - <span class="text-muted">${{item.amount}}</span>
                            <span ng-if="item.notes"> - <em>{{item.notes}}</em></span>
                        </li>
                    </ul>
                    <b>Total:</b> ${{total_dues}}
                </div>
                <div class="col-sm-4">
                    <button ng-click="pay()"
                            ng-disabled="duesForm.$invalid"
                            class="btn btn-block btn-success">Pay Now</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>

